In [1]:
import pandas as pd

#### 读取csv文件，文件名为：cs-training.csv（2分）

In [2]:
data = pd.read_csv('cs-training.csv')

#### 查看data的行数和列数（2分）

In [3]:
data.shape

(120000, 12)

#### 查看data前10行（2分）

In [4]:
data.head(10)

,CustomerID,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,1
1,2,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,0
2,3,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,0
3,4,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,0
4,5,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,0
5,6,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0,0
6,7,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0,0
7,8,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0,0
8,9,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN,0
9,10,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0,0

#### 查看表的整体信息（2分）

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 12 columns):
CustomerID                              120000 non-null int64
RevolvingUtilizationOfUnsecuredLines    120000 non-null float64
age                                     120000 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    120000 non-null int64
DebtRatio                               120000 non-null float64
MonthlyIncome                           96224 non-null float64
NumberOfOpenCreditLinesAndLoans         120000 non-null int64
NumberOfTimes90DaysLate                 120000 non-null int64
NumberRealEstateLoansOrLines            120000 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    120000 non-null int64
NumberOfDependents                      116860 non-null float64
SeriousDlqin2yrs                        120000 non-null int64
dtypes: float64(4), int64(8)
memory usage: 11.0 MB

#### 查看表的均值、中位数等信息（2分）

In [6]:
data.describe()

,CustomerID,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
count,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,9.622400e+04,120000.000000,120000.000000,120000.000000,120000.000000,116860.000000,120000.000000
mean,60000.500000,5.898429,52.269792,0.416033,354.472770,6.665819e+03,8.451392,0.261917,1.020092,0.235475,0.756512,0.066517
std,34641.160489,249.645532,14.759331,4.142794,2013.330049,1.411954e+04,5.139605,4.118735,1.133262,4.104936,1.112771,0.249184
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30000.750000,0.030049,41.000000,0.000000,0.175264,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,60000.500000,0.155670,52.000000,0.000000,0.366805,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,90000.250000,0.560434,63.000000,0.000000,0.869942,8.250000e+03,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
max,120000.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000,1.000000

#### 查看SeriousDlqin2yrs值的分布比例（2分）

In [7]:
data['SeriousDlqin2yrs'].value_counts()

0    112018
1      7982
Name: SeriousDlqin2yrs, dtype: int64

#### 查看data中所有列的缺失值情况（2分）

In [8]:
data.isnull().sum()

CustomerID                                  0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           23776
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3140
SeriousDlqin2yrs                            0
dtype: int64

#### 把MonthlyIncome根据均值填充（2分）

In [9]:
data['MonthlyIncome'] = data['MonthlyIncome'].fillna(data['MonthlyIncome'].mean())

#### 把age中小于22岁的填充为22岁，大于70岁的填充为70岁（3分）

In [10]:
data['age'] = data['age'].apply(lambda x: 22 if x<=22 else 70 if x>=70 else x)

#### 把NumberOfDependents根据-1填充（2分）

In [11]:
data['NumberOfDependents'] = data['NumberOfDependents'].fillna(-1)

#### 把age进行等宽分箱（包括6个箱子：30以下，30-39，40-49,50-59,60-69,70及以上），产生新列age_box（2分）

In [12]:
def age_box(df):
    if df.age<30:
        return '30以下'
    elif 30<=df.age<=39:
        return '30-39'
    elif 40<=df.age<=49:
        return '40-49'
    elif 50<=df.age<=59:
        return '50-59'
    elif 60<=df.age<=69:
        return '60-69'
    elif 70<=df.age:
        return '70及以上'

data['age_box'] = data.apply(age_box, axis=1)

#### 把整理好的data导出为data2.csv，不要索引（2分）

In [13]:
data.to_csv('data2.csv', index=False)