In [1]:
import pandas as pd
import numpy as np

#### 读取csv文件，文件名为：gapminder.tsv，数据集为df（1分）

In [2]:
df = pd.read_csv('./gapminder.tsv', sep='\t')

#### 查看data前5行（2分）

In [3]:
df.head(5)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

#### 查看不同洲的记录数（2分）

In [4]:
df['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

#### 计算每年平均预期寿命（lifeExp）（2分）

In [5]:
avg_life_exp_by_year=df.groupby('year')['lifeExp'].mean()

In [6]:
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

#### 获取数据中年份（year）唯一值的列表 （2分）

In [7]:
years=df.year.unique()

In [8]:
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

#### 获取数据集df中1952年的数据子集 （2分）

In [9]:
y1952=df.loc[df.year==1952,:]

In [10]:
print(y1952.head(5))

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

#### 计算1952年的数据子集中的lifeExp的平均值 （2分）

In [11]:
y1952mean=y1952['lifeExp'].mean()

In [12]:
print(y1952mean)

49.05761971830987

#### 计算每年、各洲平均预期寿命（lifeExp）（2分）

In [13]:
avg_life_exp_by_year_cont=df.groupby(['year', 'continent'])['lifeExp'].mean()

In [14]:
print(avg_life_exp_by_year_cont)

year  continent
1952  Africa       39.135500
      Americas     53.279840
      Asia         46.314394
      Europe       64.408500
      Oceania      69.255000
1957  Africa       41.266346
      Americas     55.960280
      Asia         49.318544
      Europe       66.703067
      Oceania      70.295000
1962  Africa       43.319442
      Americas     58.398760
      Asia         51.563223
      Europe       68.539233
      Oceania      71.085000
1967  Africa       45.334538
      Americas     60.410920
      Asia         54.663640
      Europe       69.737600
      Oceania      71.310000
1972  Africa       47.450942
      Americas     62.394920
      Asia         57.319269
      Europe       70.775033
      Oceania      71.910000
1977  Africa       49.580423
      Americas     64.391560
      Asia         59.610556
      Europe       71.937767
      Oceania      72.855000
1982  Africa       51.592865
      Americas     66.228840
      Asia         62.617939
      Europe       72.806400
      Oceania      74.290000
1987  Africa       53.344788
      Americas     68.090720
      Asia         64.851182
      Europe       73.642167
      Oceania      75.320000
1992  Africa       53.629577
      Americas     69.568360
      Asia         66.537212
      Europe       74.440100
      Oceania      76.945000
1997  Africa       53.598269
      Americas     71.150480
      Asia         68.020515
      Europe       75.505167
      Oceania      78.190000
2002  Africa       53.325231
      Americas     72.422040
      Asia         69.233879
      Europe       76.700600
      Oceania      79.740000
2007  Africa       54.806038
      Americas     73.608120
      Asia         70.728485
      Europe       77.648600
      Oceania      80.719500
Name: lifeExp, dtype: float64

#### 按年计算lifeExp 的非零个数，平局值和标准差,并重命名三个列名（6分，每空2分）

In [15]:
gdf2=df.groupby('year')['lifeExp'].agg([np.count_nonzero,np.mean,np.std]).rename(columns={'count_nonzero':'count','mean':'avg','std':'std_dev'}).reset_index()

In [16]:
print(gdf2)

    year  count        avg    std_dev
0   1952    142  49.057620  12.225956
1   1957    142  51.507401  12.231286
2   1962    142  53.609249  12.097245
3   1967    142  55.678290  11.718858
4   1972    142  57.647386  11.381953
5   1977    142  59.570157  11.227229
6   1982    142  61.533197  10.770618
7   1987    142  63.212613  10.556285
8   1992    142  64.160338  11.227380
9   1997    142  65.014676  11.559439
10  2002    142  65.694923  12.279823
11  2007    142  67.007423  12.073021

#### 对于每一年，计算lifeExp平均值,pop中位数和gdpPercap中位数（4分，每空2分）

In [17]:
gdf_dict=df.groupby('year').agg({'lifeExp':'mean','pop':'median','gdpPercap':'median'})

In [18]:
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334740
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371108