In [26]:
import pandas as pd

#### 读取train和test文件，文件名分别是train.csv和test.csv (2分)

In [ ]:
# 训练集数据加载
train = pd.____(1)_____('./train.csv')
train.head(5)

In [2]:
#测试数据集加载
test = pd.____(2)_____('./test.csv')
test.head(5)

,id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed
0,22501,35,technician,single,professional.course,no,yes,yes,cellular,aug,...,3295,1,476,0,success,1.4,95.37,-33.04,3.63,5204.54
1,22502,26,admin.,single,high.school,no,yes,no,cellular,may,...,2872,1,166,2,success,-1.8,91.75,-44.42,3.16,4924.78
2,22503,44,blue-collar,married,basic.6y,no,no,no,telephone,may,...,268,3,968,0,nonexistent,1.1,89.67,-36.90,5.04,4947.02
3,22504,36,blue-collar,married,basic.9y,no,yes,no,telephone,nov,...,30,1,432,5,success,-0.1,89.87,-41.66,3.27,5203.33
4,22505,41,blue-collar,married,basic.4y,no,yes,no,telephone,may,...,1670,1,944,3,success,1.1,97.64,-36.32,3.95,4992.02

#### 将数据train和test合并成 df (2分)

In [3]:
# 训练集、测试集合并
df =pd.____(3)_____
df.head(5)

d:\Program Files\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

,age,campaign,cons_conf_index,cons_price_index,contact,day_of_week,default,duration,education,emp_var_rate,...,job,lending_rate3m,loan,marital,month,nr_employed,pdays,poutcome,previous,subscribe
0,51,1,-35.53,90.81,cellular,mon,no,4621,professional.course,1.4,...,admin.,0.69,yes,divorced,aug,5219.74,112,failure,2,no
1,50,1,-40.58,96.33,cellular,mon,unknown,4715,high.school,-1.8,...,services,4.05,no,married,may,4974.79,412,nonexistent,2,yes
2,48,0,-44.74,96.33,cellular,wed,no,171,basic.9y,-1.8,...,blue-collar,1.50,no,divorced,apr,5022.61,1027,failure,1,no
3,26,26,-35.55,97.08,cellular,fri,yes,359,high.school,1.4,...,entrepreneur,5.11,yes,single,aug,5222.87,998,nonexistent,0,yes
4,45,1,-33.83,89.82,cellular,tue,no,3178,university.degree,-3.4,...,admin.,1.17,no,single,nov,4884.70,240,success,4,no

#### 筛选分类变量字段 (2分)

In [5]:
cat_columns = df.____(4)_____(include='O').columns
df[cat_columns].head(5)

,contact,day_of_week,default,education,housing,job,loan,marital,month,poutcome,subscribe
0,cellular,mon,no,professional.course,yes,admin.,yes,divorced,aug,failure,no
1,cellular,mon,unknown,high.school,yes,services,no,married,may,nonexistent,yes
2,cellular,wed,no,basic.9y,no,blue-collar,no,divorced,apr,failure,no
3,cellular,fri,yes,high.school,yes,entrepreneur,yes,single,aug,nonexistent,yes
4,cellular,tue,no,university.degree,no,admin.,no,single,nov,success,no

#### 将分类变量数值化 (3分)

In [6]:
from sklearn.preprocessing import ____(5)_____
job_le = ____(6)_____()
df['job'] = job_le.____(7)_____(df['job'])
df['job'].value_counts()

0     7383
1     6506
9     4731
7     2834
4     2164
5     1335
2     1158
6     1123
3      848
10     844
8      716
11     358
Name: job, dtype: int64

#### 将'marital'、'education'、'housing'、'loan'、'contact'、'day_of_week'、'poutcome'、'default'、'month'、'subscribe'进行统一手工映射数值化 (2分)

In [7]:
df['marital'] = df['marital'].____(8)_____({'unknown': 0, 'single': 1, 'married': 2, 'divorced': 3})
df['education'] = df['education'].____(8)_____({'unknown': 0, 'illiterate': 1, 'basic.4y': 2, 'basic.6y': 3,\
                    'basic.9y': 4, 'high.school': 5, 'university.degree': 6, 'professional.course': 7})
df['housing'] = df['housing'].____(8)_____({'unknown': 0, 'no': 1, 'yes': 2})
df['loan'] = df['loan'].____(8)_____({'unknown': 0, 'no': 1, 'yes': 2})
df['contact'] = df['contact'].____(8)_____({'cellular': 0, 'telephone': 1})
df['day_of_week'] = df['day_of_week'].____(8)_____({'mon': 0, 'tue': 1, 'wed': 2, 'thu': 3, 'fri': 4})
df['poutcome'] = df['poutcome'].____(8)_____({'nonexistent': 0, 'failure': 1, 'success': 2})
df['default'] = df['default'].____(8)_____({'unknown': 0, 'no': 1, 'yes': 2})
df['month'] = df['month'].____(8)_____({'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, \
                 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12})
df['subscribe'] = df['subscribe'].____(8)_____({'no': 0, 'yes': 1})

2    17604
1     8417
3     3528
0      451
Name: marital, dtype: int64

#### 查看'education'数值化后的各数值分布 (2分)

In [8]:
df['education'].____(9)_____()

university.degree      8709
high.school            6774
basic.9y               4320
professional.course    3786
basic.4y               3071
basic.6y               1794
unknown                1330
illiterate              216
Name: education, dtype: int64

#### 切分数据集，按照'subscribe'标签分为训练集和测试集 (2分)

In [18]:
train = df[df['subscribe'].____(10)_____]
test = df[df['subscribe'].isnull()]

#### 使用lightgbm分类模型 (4分，每空2分)

In [4]:
import lightgbm as lgb
model_lgb = lgb.____(11)_____(
            num_leaves=2**5-1, reg_alpha=0.25, reg_lambda=0.25, objective='____(12)_____',
            max_depth=-1, learning_rate=0.005, min_child_samples=3, random_state=2022,
            n_estimators=2000, subsample=1, colsample_bytree=1,
        )

SyntaxError: invalid syntax (<ipython-input-4-92503c330ffb>, line 2)

#### 模型训练，预测（4分，每空2分）

In [ ]:
model_lgb.____(13)_____(train.drop('subscribe', axis=1), train['subscribe'])

In [22]:
y_pred = model_lgb.____(14)_____(test.drop('subscribe', axis=1))
y_pred

d:\Program Files\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0., 0., 0., ..., 0., 0., 0.])

#### 查看预测结果，输出y_pred个数及y_pred中预测为‘yes’的个数（2分）

In [25]:
len(y_pred),____(15)_____(y_pred)

(7500, 590.0)