In [1]:
import pandas as pd
import numpy as np

#### 读取train和test文件，文件名分别是df_training.csv和df_test.csv（2分）

In [2]:
train_data = pd.________
test_data = pd.________

#### 将train_data和test_data合并成all_data（2分）

In [3]:
all_data = pd.________

#### 查看all_data的字段信息（2分）

In [4]:
all_data.________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 1999
Data columns (total 12 columns):
ID                                  8000 non-null int64
Product using score                 8000 non-null object
User area                           8000 non-null object
gender                              8000 non-null object
age                                 8000 non-null object
Cumulative using time               8000 non-null object
Point balance                       8000 non-null object
Product service usage               8000 non-null object
Pay a monthly fee by credit card    8000 non-null object
Active user                         8000 non-null object
Estimated salary                    8000 non-null object
Purchase or not                     8000 non-null object
dtypes: int64(1), object(11)
memory usage: 812.5+ KB

In [5]:
all_data.________

,ID,Product using score,User area,gender,age,Cumulative using time,Point balance,Product service usage,Pay a monthly fee by credit card,Active user,Estimated salary,Purchase or not
0,6518,628,?,Female,51,?,155903.82,2,1,1,71159.84,0
1,5195,696,Taipei,?,27,4,?,2,0,?,196111.35,0
2,1786,?,Taichung,Male,40,3,?,2,1,1,?,0
3,6151,?,?,Male,?,?,?,?,1,0,?,1
4,7577,?,Tainan,?,27,?,0,1,?,1,107955.67,0

In [6]:
all_data['Purchase or not'].value_counts()

0           4777
Withheld    2000
1           1223
Name: Purchase or not, dtype: int64

#### 把Product using score、age、Point balance、Estimated salary根据均值填充（2分）

In [9]:
for col in ['Product using score', 'age', 'Point balance', 'Estimated salary']:
    all_data[col] = all_data[col].________
    all_data[col] = pd.to_numeric(all_data[col])
    all_data[col] = all_data[col].________

#### 把User area、gender中的字符串使用LabelEncoder（2分）

In [10]:
from sklearn.preprocessing import LabelEncoder
all_data[['User area', 'gender']] = all_data[['User area', 'gender']].apply(________)

#### 把剩余的所有？用-1代替（1分）

In [13]:
all_data = all_data.________

#### 把除了Purchase or not外的所有object列转为int（2分）

In [23]:
object_cols = list(set(all_data.select_dtypes('object').columns) - set(['Purchase or not']))

In [24]:
for col in object_cols:
    all_data[col] = pd.________

#### 导入sklearn中随机森林（分类）的函数，并预设rf的方法（1分）

In [26]:
from sklearn.ensemble import ________

rf = ________

#### 导入sklearn中数据集拆分的函数（1分）

In [27]:
from sklearn.model_selection import ________

#### 导入sklearn中classification_report（1分）

In [28]:
from sklearn.metrics import ________

#### 重新拆分训练集和测试集（1分）

In [29]:
test_data = all_data[________]

In [30]:
train_data = all_data[________]
train_data['Purchase or not'] = train_data['Purchase or not'].astype('int')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### 从训练集中拆分出验证集，比例为7:3（2分）

In [31]:
pre_columns = set(all_data.columns) - set(['ID', 'Purchase or not'])

In [32]:
X_train, X_val, y_train, y_val = train_test_split(________)

#### 使用随机森林对X_train、y_train进行训练，再对X_val进行预测（2分）

In [33]:
rf.________(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [34]:
val_pred = rf.________(X_val)

#### 使用classification_report对val_pred和y_val进行效果评测（1分）

In [35]:
print(________)

              precision    recall  f1-score   support

           0       0.86      0.96      0.91      1454
           1       0.70      0.34      0.46       346

    accuracy                           0.84      1800
   macro avg       0.78      0.65      0.68      1800
weighted avg       0.83      0.84      0.82      1800

#### 对test_data进行预测（1分）

In [36]:
test_pred = rf.________(test_data[pre_columns])

#### 将test_data中的ID和test_pred的结果合并为output_data，然后导出为output_data.csv，不要导出索引（2分）

In [37]:
test_data['Purchase or not'] = test_pred

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
output_data = test_data[________]

In [39]:
output_data.________