In [8]:
from main_ws import *

In [2]:
import keyring

In [3]:
email = keyring.get_password("wealthsimple", "username")
password = keyring.get_password("wealthsimple", "password")

In [4]:
df_ws=Wsimple_data(email, password)

2024-08-30 12:31:57.625 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 12:31:58.109 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 401
2024-08-30 12:31:58.113 | DEBUG    | wsimple.api.api:__init__:141 - Pre-login: 401/ b'{"error":"Not authorized"}'
2024-08-30 12:32:21.923 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 12:32:22.438 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 200
2024-08-30 12:32:22.439 | INFO     | wsimple.api.api:wrap_manage_tokens:238 - Tokens: TokensBox(access_token='0CTOii317K4TS6wHnTc7d1ozwUNacV-vCTGA8SGI8nU', refresh_token='1qPbxq_HXopIMog3iP6RELtZzvL-i3clWP5Arpf6x6o', access_expires=datetime.datetime(2024, 8, 30, 14, 32, 22)) () {'limit': 99, 'type': ['deposit', 'withdrawal']}
2024-08-30 12:32:22.440 | DEBUG    | wsimple.api.api:wrap_manage_tokens:241 - Reset in -> 1:59:59.559884
2024-08-30 12:32:22.461 | DEBUG    | wsimple.api.requestor:requestor:28 - GET_ACTIVITES called
2024-08-30 12:32:23.078 | DEBUG    | wsimple.api.requestor:requestor:30 - GET_ACTIVITES: 200

In [9]:
df_ws

   Year      type  netAmount
0  2023  Deposits    1636.00
1  2024  Deposits   20086.15

## This Works now Yayy

In [10]:
a,b,df_cr=contribution_room(given_year=2024,given_contr_room=92646.82,df_ws=df_ws,token='dfdsf')

start_year is 2024
Questrade time is: {'code': 1017, 'message': 'Access token is invalid'}
Successfully Connected to Questrade

KeyError: 'accounts'

Successfully Connected to Questrade
TFSA account list: ['51732834', '51964746', '52056387']
DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31'],
              dtype='datetime64[ns]', freq='M')
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 51732834. Completed 0 % 
Processing 2024 for account 51732834
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 51964746. Completed 33 % 
Processing 2024 for account 51964746
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 52056387. Completed 66 % 
Processing 2024 for account 52056387
Grabbing Activity Completed-100%
Today's date: 2024-08-30
Your current contribution room is: $67358.67000000001
Next Year's Contribution room on Jan 1 2025 is:  $74358.67000000001

In [7]:
df_cr

,New_Year_Dollar_Limit,Contr_Room_Jan1,Year,Deposits,Withdrawals,Current_Contr_Room
0,7000,92646.82,2024,25288.15,0.0,67358.67
1,7000,74358.67,2025,0.00,0.0,74358.67

In [8]:
def contribution_room2(given_year=None, given_contr_room=None, open_year=2009, birth_year=1990, token=None,df_ws=None):
    contr_start_year1 = contr_start_year(birth_year)

    if given_year is None or given_contr_room is None:
        given_year = None
        given_contr_room = None

    if given_year != None:
        start_year = given_year
        start_contr_room = given_contr_room
    # If they inputted a valid open_year use the open year
    elif open_year >= 2009:
        start_year = open_year
        start_contr_room = max_contr_room_Limit(birth_year, start_year)
    # If the user did not input anything assume they are were born before 1990
    ## and start year is 2009
    else:
        start_year = contr_start_year1
        start_contr_room = max_contr_room_Limit(birth_year, start_year)

    print(f'start_year is {start_year}')
    #Raise error if start year is before 2009 or After the current year
    if (start_year < 2009) or (start_year > date.today().year):
        raise Exception('given year or open year is not Valid!')

    ### Get the data with create_df
    if start_year == 2009:
        print('WARNING: A valid year was not input as open_year or given_year. THIS WILL TAKE A VERY LONG TIME.')
    df = create_df(start=(str(start_year) + '-01-01'), token=token)

    df1 = df.groupby(['Year', 'type'])['netAmount'].sum().reset_index()
    return df1

In [9]:
df1=contribution_room2(given_year=2024,given_contr_room=92646.82,df_ws=df_ws)

start_year is 2024
Questrade time is: {'time': '2024-08-30T00:36:06.998000-04:00'}
Successfully Connected to Questrade
TFSA account list: ['51732834', '51964746', '52056387']
DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31'],
              dtype='datetime64[ns]', freq='M')
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 51732834. Completed 0 %
Processing 2024 for account 51732834
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 51964746. Completed 33 %
Processing 2024 for account 51964746
grabbing activity from 2024-01-31 00:00:00 to 2024-08-31 00:00:00 for TFSA: 52056387. Completed 66 %
Processing 2024 for account 52056387
Grabbing Activity Completed-100%

In [10]:
df1

   Year      type  netAmount
0  2024  Deposits     5202.0

In [11]:
if not df_ws.empty:
    df1 = pd.concat([df1, df_ws], axis=0, ignore_index=True)

In [12]:
df1

   Year      type  netAmount
0  2024  Deposits    5202.00
1  2023  Deposits    1636.00
2  2024  Deposits   20086.15

In [13]:
df2 = df1.pivot_table(index='Year', columns='type', values='netAmount').reset_index()

In [14]:
df2

type  Year   Deposits
0     2023   1636.000
1     2024  12644.075

In [27]:
from main_ws_only import *

In [28]:
a,b,df_cr=contribution_room(email,password,given_year=2024,given_contr_room=92646.82)

2024-08-30 01:04:10.054 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:10.054 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:10.054 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:10.054 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called

start_year is 2024

2024-08-30 01:04:10.471 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 401
2024-08-30 01:04:10.471 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 401
2024-08-30 01:04:10.471 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 401
2024-08-30 01:04:10.471 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 401
2024-08-30 01:04:10.473 | DEBUG    | wsimple.api.api:__init__:141 - Pre-login: 401/ b'{"error":"Not authorized"}'
2024-08-30 01:04:10.473 | DEBUG    | wsimple.api.api:__init__:141 - Pre-login: 401/ b'{"error":"Not authorized"}'
2024-08-30 01:04:10.473 | DEBUG    | wsimple.api.api:__init__:141 - Pre-login: 401/ b'{"error":"Not authorized"}'
2024-08-30 01:04:10.473 | DEBUG    | wsimple.api.api:__init__:141 - Pre-login: 401/ b'{"error":"Not authorized"}'
2024-08-30 01:04:18.016 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:18.016 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:18.016 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:18.016 | DEBUG    | wsimple.api.requestor:requestor:28 - LOGIN called
2024-08-30 01:04:18.495 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 200
2024-08-30 01:04:18.495 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 200
2024-08-30 01:04:18.495 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 200
2024-08-30 01:04:18.495 | DEBUG    | wsimple.api.requestor:requestor:30 - LOGIN: 200
2024-08-30 01:04:18.498 | INFO     | wsimple.api.api:wrap_manage_tokens:238 - Tokens: TokensBox(access_token='yIywLYYKCY_ZyvfQMmqoHIHGSw8YlagXeCw1RnK83dQ', refresh_token='CGO6nWi3Y1Oc-CM-l77aCVkQ4VLiCB6j2D-3Ki4wpg4', access_expires=datetime.datetime(2024, 8, 30, 3, 4, 20)) () {'limit': 99, 'type': ['deposit', 'withdrawal']}
2024-08-30 01:04:18.498 | INFO     | wsimple.api.api:wrap_manage_tokens:238 - Tokens: TokensBox(access_token='yIywLYYKCY_ZyvfQMmqoHIHGSw8YlagXeCw1RnK83dQ', refresh_token='CGO6nWi3Y1Oc-CM-l77aCVkQ4VLiCB6j2D-3Ki4wpg4', access_expires=datetime.datetime(2024, 8, 30, 3, 4, 20)) () {'limit': 99, 'type': ['deposit', 'withdrawal']}
2024-08-30 01:04:18.498 | INFO     | wsimple.api.api:wrap_manage_tokens:238 - Tokens: TokensBox(access_token='yIywLYYKCY_ZyvfQMmqoHIHGSw8YlagXeCw1RnK83dQ', refresh_token='CGO6nWi3Y1Oc-CM-l77aCVkQ4VLiCB6j2D-3Ki4wpg4', access_expires=datetime.datetime(2024, 8, 30, 3, 4, 20)) () {'limit': 99, 'type': ['deposit', 'withdrawal']}
2024-08-30 01:04:18.498 | INFO     | wsimple.api.api:wrap_manage_tokens:238 - Tokens: TokensBox(access_token='yIywLYYKCY_ZyvfQMmqoHIHGSw8YlagXeCw1RnK83dQ', refresh_token='CGO6nWi3Y1Oc-CM-l77aCVkQ4VLiCB6j2D-3Ki4wpg4', access_expires=datetime.datetime(2024, 8, 30, 3, 4, 20)) () {'limit': 99, 'type': ['deposit', 'withdrawal']}
2024-08-30 01:04:18.501 | DEBUG    | wsimple.api.api:wrap_manage_tokens:241 - Reset in -> 2:00:01.498798
2024-08-30 01:04:18.501 | DEBUG    | wsimple.api.api:wrap_manage_tokens:241 - Reset in -> 2:00:01.498798
2024-08-30 01:04:18.501 | DEBUG    | wsimple.api.api:wrap_manage_tokens:241 - Reset in -> 2:00:01.498798
2024-08-30 01:04:18.501 | DEBUG    | wsimple.api.api:wrap_manage_tokens:241 - Reset in -> 2:00:01.498798
2024-08-30 01:04:18.529 | DEBUG    | wsimple.api.requestor:requestor:28 - GET_ACTIVITES called
2024-08-30 01:04:18.529 | DEBUG    | wsimple.api.requestor:requestor:28 - GET_ACTIVITES called
2024-08-30 01:04:18.529 | DEBUG    | wsimple.api.requestor:requestor:28 - GET_ACTIVITES called
2024-08-30 01:04:18.529 | DEBUG    | wsimple.api.requestor:requestor:28 - GET_ACTIVITES called
2024-08-30 01:04:19.186 | DEBUG    | wsimple.api.requestor:requestor:30 - GET_ACTIVITES: 200
2024-08-30 01:04:19.186 | DEBUG    | wsimple.api.requestor:requestor:30 - GET_ACTIVITES: 200
2024-08-30 01:04:19.186 | DEBUG    | wsimple.api.requestor:requestor:30 - GET_ACTIVITES: 200
2024-08-30 01:04:19.186 | DEBUG    | wsimple.api.requestor:requestor:30 - GET_ACTIVITES: 200

Today's date: 2024-08-30
Your current contribution room is: $-14722.150000000001
Next Year's Contribution room on Jan 1 2025 is:  $-7722.1500000000015

In [29]:
df_cr

,New_Year_Dollar_Limit,Contr_Room_Jan1,Year,Deposits,Withdrawals,Current_Contr_Room
0,6500,0.00,2023,1636.00,0.0,-1636.00
1,7000,5364.00,2024,20086.15,0.0,-14722.15
2,7000,-7722.15,2025,0.00,0.0,-7722.15

In [23]:
df_cr[df_cr.Year>= 2024]

,New_Year_Dollar_Limit,Contr_Room_Jan1,Year,Deposits,Withdrawals,Current_Contr_Room
1,7000,5364.00,2024,20086.15,0.0,-14722.15
2,7000,-7722.15,2025,0.00,0.0,-7722.15

In [30]:
a

-14722.150000000001

In [31]:
b

-7722.1500000000015