In [1]:
import pandas as pd

#### 读取train和test文件，文件名分别是train.csv和test.csv (2分)

In [2]:
# 训练集数据加载
train = pd.read_csv('./train.csv')
train.head(5)

,id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed,subscribe
0,1,51,admin.,divorced,professional.course,no,yes,yes,cellular,aug,...,1,112,2,failure,1.4,90.81,-35.53,0.69,5219.74,no
1,2,50,services,married,high.school,unknown,yes,no,cellular,may,...,1,412,2,nonexistent,-1.8,96.33,-40.58,4.05,4974.79,yes
2,3,48,blue-collar,divorced,basic.9y,no,no,no,cellular,apr,...,0,1027,1,failure,-1.8,96.33,-44.74,1.50,5022.61,no
3,4,26,entrepreneur,single,high.school,yes,yes,yes,cellular,aug,...,26,998,0,nonexistent,1.4,97.08,-35.55,5.11,5222.87,yes
4,5,45,admin.,single,university.degree,no,no,no,cellular,nov,...,1,240,4,success,-3.4,89.82,-33.83,1.17,4884.70,no

In [3]:
#测试数据集加载
test = pd.read_csv('./test.csv')
test.head(5)

,id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed
0,22501,35,technician,single,professional.course,no,yes,yes,cellular,aug,...,3295,1,476,0,success,1.4,95.37,-33.04,3.63,5204.54
1,22502,26,admin.,single,high.school,no,yes,no,cellular,may,...,2872,1,166,2,success,-1.8,91.75,-44.42,3.16,4924.78
2,22503,44,blue-collar,married,basic.6y,no,no,no,telephone,may,...,268,3,968,0,nonexistent,1.1,89.67,-36.90,5.04,4947.02
3,22504,36,blue-collar,married,basic.9y,no,yes,no,telephone,nov,...,30,1,432,5,success,-0.1,89.87,-41.66,3.27,5203.33
4,22505,41,blue-collar,married,basic.4y,no,yes,no,telephone,may,...,1670,1,944,3,success,1.1,97.64,-36.32,3.95,4992.02

#### 将数据train和test合并成 df (2分)

In [4]:
# 训练集、测试集合并
df =pd.concat([train, test], axis=0)
df.head(5)

,id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed,subscribe
0,1,51,admin.,divorced,professional.course,no,yes,yes,cellular,aug,...,1,112,2,failure,1.4,90.81,-35.53,0.69,5219.74,no
1,2,50,services,married,high.school,unknown,yes,no,cellular,may,...,1,412,2,nonexistent,-1.8,96.33,-40.58,4.05,4974.79,yes
2,3,48,blue-collar,divorced,basic.9y,no,no,no,cellular,apr,...,0,1027,1,failure,-1.8,96.33,-44.74,1.50,5022.61,no
3,4,26,entrepreneur,single,high.school,yes,yes,yes,cellular,aug,...,26,998,0,nonexistent,1.4,97.08,-35.55,5.11,5222.87,yes
4,5,45,admin.,single,university.degree,no,no,no,cellular,nov,...,1,240,4,success,-3.4,89.82,-33.83,1.17,4884.70,no

#### 筛选分类变量字段 (2分)

In [5]:
cat_columns = df.select_dtypes(include='O').columns
df[cat_columns].head(5)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,subscribe
0,admin.,divorced,professional.course,no,yes,yes,cellular,aug,mon,failure,no
1,services,married,high.school,unknown,yes,no,cellular,may,mon,nonexistent,yes
2,blue-collar,divorced,basic.9y,no,no,no,cellular,apr,wed,failure,no
3,entrepreneur,single,high.school,yes,yes,yes,cellular,aug,fri,nonexistent,yes
4,admin.,single,university.degree,no,no,no,cellular,nov,tue,success,no

#### 将分类变量数值化 (3分)

In [6]:
from sklearn.preprocessing import LabelEncoder
job_le = LabelEncoder()
df['job'] = job_le.fit_transform(df['job'])
df['job'].value_counts()

0     7383
1     6506
9     4731
7     2834
4     2164
5     1335
2     1158
6     1123
3      848
10     844
8      716
11     358
Name: job, dtype: int64

#### 将'marital'、'education'、'housing'、'loan'、'contact'、'day_of_week'、'poutcome'、'default'、'month'、'subscribe'进行统一手工映射数值化 (2分)

In [7]:
df['marital'] = df['marital'].map({'unknown': 0, 'single': 1, 'married': 2, 'divorced': 3})
df['education'] = df['education'].map({'unknown': 0, 'illiterate': 1, 'basic.4y': 2, 'basic.6y': 3,\
                    'basic.9y': 4, 'high.school': 5, 'university.degree': 6, 'professional.course': 7})
df['housing'] = df['housing'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['loan'] = df['loan'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['contact'] = df['contact'].map({'cellular': 0, 'telephone': 1})
df['day_of_week'] = df['day_of_week'].map({'mon': 0, 'tue': 1, 'wed': 2, 'thu': 3, 'fri': 4})
df['poutcome'] = df['poutcome'].map({'nonexistent': 0, 'failure': 1, 'success': 2})
df['default'] = df['default'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['month'] = df['month'].map({'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, \
                 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12})
df['subscribe'] = df['subscribe'].map({'no': 0, 'yes': 1})

#### 查看'education'数值化后的各数值分布 (2分)

In [8]:
df['education'].value_counts()

6    8709
5    6774
4    4320
7    3786
2    3071
3    1794
0    1330
1     216
Name: education, dtype: int64

#### 切分数据集，按照'subscribe'标签分为训练集和测试集 (2分)

In [9]:
train = df[df['subscribe'].notnull()]
test = df[df['subscribe'].isnull()]

#### 使用lightgbm分类模型 (4分，每空2分)

In [10]:
import lightgbm as lgb
model_lgb = lgb.LGBMClassifier(
            num_leaves=2**5-1, reg_alpha=0.25, reg_lambda=0.25, objective='binary',
            max_depth=-1, learning_rate=0.005, min_child_samples=3, random_state=2022,
            n_estimators=2000, subsample=1, colsample_bytree=1,
        )

#### 模型训练，预测（4分，每空2分）

In [11]:
model_lgb.fit(train.drop('subscribe', axis=1), train['subscribe'])

LGBMClassifier(colsample_bytree=1, learning_rate=0.005, min_child_samples=3,
               n_estimators=2000, objective='binary', random_state=2022,
               reg_alpha=0.25, reg_lambda=0.25, subsample=1)

In [12]:
y_pred = model_lgb.predict(test.drop('subscribe', axis=1))
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

#### 查看预测结果，输出y_pred个数及y_pred中预测为yes的

In [13]:
len(y_pred),sum(y_pred)

(7500, 590.0)